*{
    font-family: "Funnel Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  
}

.container{
    display: flex;
    justify-content: center;
    padding: 10px;  
    height: 500px; 
}
.widgets{
    width: 50%;
}
.name{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: #3b3b3b;
}
.information{
    padding-top: 25px;
    text-align: center;
    color: white;
}

.input-div{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    display: flex;
}
.input-div input{
    padding: 15px;
    width: 90%;
    outline: none;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    
}
.div-btn button{
    padding: 17px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
}

.div-btn button:hover{
    filter: brightness(115%);
}
.select-div{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.css-hlgwow{
    width: 100px;
}

.css-b62m3t-container{
    padding: 8px;
    font-size: 18px;
    outline: none;
}

.examples{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.grid{
    border: 2px solid #FEF8F6;
    background: #FEF8F6;
    padding: 13px;
    border-radius: 5px;
    height: 80px;
    text-align: start;
    cursor: pointer;
    max-width: 200px;
    display: inline-flex;
}
.grid p{
    font-size: 18px;
}
.grid:hover{
    border-color: #9F7AEA;
    transition: all 800ms ease;
}


.prompt-example{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 7px;
}
.prompt-example hr{
    width: 100%;
    opacity: 0.6;
    border: 1px solid grey
}
.prompt-example p{
    flex-shrink: 0;
    font-size: 20px;
    color: white;
}

.themes{
    padding: 10px;
}

.themes h2{
    text-align: center;
    color: white;
}
.theme img{
    width: 100%;
}


.warning{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 100px;
}
.warning p{
    color: red;
    font-size: 18px;
}

.names{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.names input{
    padding: 8px;
    font-size: 20px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 10px;

}
.names input:focus{
    border-color: #9F7AEA;
}
.names label{
    color: white;
    font-size: 20px;
}

@media screen and (max-width:600px){
    .examples{
        display: none;
    }
    .prompt-example{
        display: none;
    }

    .input-div{
        width: 100%;
        display: flex;
    }
    .input-div input{
        padding: 0;
        width: 100%;
        font-size: 18px;
    }
    .div-btn button{
        padding: 8px;
    }

}
@media screen and (min-width:600px) and (max-width:950px) {
    .examples{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    
}
@media screen and (min-width:1100px) {
    .input-div input{
        font-size: 22px;
    }
    .select-div{
        font-size: 22px;
    }
    .div-btn button{
        font-size: 22px;
    }
}