*{
    margin: 0;
    padding: 0;
}
header{
    padding: 20px;
    background-color: #F7F3F2;
}
header ul{
    display: flex;
    justify-content: space-around;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
header li{
    list-style: none;
    color: black;
    font-size: 18px;

}
header li:hover{
    transform: scale(1.1);
}


.error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}
.error h2{
    color: red
}

.hint{
    padding: 15px;
    margin: 10px;
}
.hint a{
    text-decoration: none;
    color: rgba(104, 59, 59, 0.945);
    font-size: 20px;
}
.link:hover{
    color: black;
}